/* Enter your custom styles here */
/* Increase font size for specific ObjectStatus */
.largeStatText .sapMObjStatusText {
    font-size: 1.5rem;
    /* Adjust size as needed (e.g., 20px, 2rem) */
    font-weight: bold;
    /* Optional: make it bold */
    line-height: normal;
    /* Fixes vertical alignment if text gets too big */
}

/* If you have an icon, you might want to resize that too */
.largeStatText .sapMObjStatusIcon {
    font-size: 1.5rem;
}

.QuickAccess {
    padding: 6px;
    background-color: rgb(255, 255, 255);
}

.cardPurple {
    border-left: 6px solid #6a3ab2;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

.cardRed {
    border-left: 6px solid #bb0000;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

/* Error */
.cardBlue {
    border-left: 6px solid #0056b3;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

/* Info */
.cardGreen {
    border-left: 6px solid #2b7d2b;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

/* Success */
.cardYellow {
    border-left: 6px solid #e6b422;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

/* Warning */

.cardWhite {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
}

.myLargeChart {
    width: 300px !important;
    height: 300px !important;
}